body{
    margin-left: 500px;
    margin-top: 50px;
}
ul{
    list-style: none;  
}
li {
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 5px;
    text-align: center;
    background-color: rgb(194, 194, 194);
    width: 400px;
}