
<li><a routerLink="/alert-me" routerLinkActive="active">Alert Me</a></li>
<li><a routerLink="/google" routerLinkActive="active">google</a></li>
<li><a routerLink="/leap-year" routerLinkActive="active">leap-year</a></li> 
<li><a routerLink="/nested-list" routerLinkActive="active">nested-list</a></li>
<li><a routerLink="/numbers" routerLinkActive="active">numbers</a> </li>
<li><a routerLink="/shopping-list" routerLinkActive="active">shopping-list</a></li>
<li><a routerLink="/state-table" routerLinkActive="active">state-table</a></li>
<router-outlet></router-outlet>