<form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
    <label for="fname">First Name: </label>
    <input id="fname" type="text" formControlName="fname"><br>
    
    <div *ngIf="ProfileForm.controls.fname.errors?.['required'] && (ProfileForm.controls.fname.touched||ProfileForm.controls.fname.dirty)">
        First name is required.
    </div>
    <br> <label for="lname">Last Name: </label>
    <input id="lname" type="text" formControlName="lname"><br>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email" #emaill><br>
   
    <div *ngIf="ProfileForm.controls.email.errors?.['required'] && (ProfileForm.controls.email.touched||ProfileForm.controls.email.dirty)">
        Email is required.
    </div>
    <div
        *ngIf="ProfileForm.controls.email.invalid && (ProfileForm.controls.email.touched||ProfileForm.controls.email.dirty) && !ProfileForm.controls.email.errors?.['required']">Email is invalid</div>
    <label for="phoneNumber">phoneNumber: </label>
    <input id="phoneNumber" type="text" formControlName="phoneNumber"><br>
    <div *ngIf="ProfileForm.controls.phoneNumber.errors?.['required'] && (ProfileForm.controls.phoneNumber.touched||ProfileForm.controls.phoneNumber.dirty)">
        phoneNumber is required.
    </div>
    <div *ngIf="ProfileForm.controls.phoneNumber.errors?.['maxlength']">
        phoneNumber maxlength is 10
      </div>
      <div *ngIf="ProfileForm.controls.phoneNumber.invalid && (ProfileForm.controls.phoneNumber.touched||ProfileForm.controls.phoneNumber.dirty) && !ProfileForm.controls.email.errors?.['required']">
        phoneNumber is invalid
      </div>
    <div formGroupName="address">
    <h2>Address</h2>
    <label for="AddressLine1">Address Line 1: </label>
    <input id="AddressLine1" type="text" formControlName="AddressLine1"><br>
    <label for="AddressLine2">Address Line 2: </label>
    <input id="AddressLine2" type="text" formControlName="AddressLine2"><br>
    <label for="City">City </label>
    <input id="City" type="text" formControlName="City"><br> 
    </div>
    <label>Project</label>
    
      
    <ng-select [items]="projects|activeProject:true"
    bindLabel="name"
    bindValue="name" placeholder="select project" formControlName="project"
    >
    </ng-select>
    
    <!--     
        <option *ngFor="let item of projects">{{item.name| activeProject:item.isActive}}</option>         -->
        
    
    <button type="submit" [disabled]="!ProfileForm.valid">Submit</button>
    
    </form>
    
    <div *ngIf="result">
        <p>Employee Details</p>
        <p appBgColor>Name: {{ employeeDetails.fname| uppercase}} {{ employeeDetails.lname | uppercase}} </p>
        <!-- <p *ngIf="this.ProfileForm.get('email')?.value?.endsWith('@gmail.com')">Email:{{ ProfileForm.get('email')?.value}} </p> -->
        <p *appEmail="employeeDetails.email">Email:{{ employeeDetails.email}} </p>
        <p>Phone Number: {{ employeeDetails.phoneNumber}} </p>
        <p>Address Line 1: {{ employeeDetails.AddressLine1}} </p>
        <p>Address Line 2: {{ employeeDetails.AddressLine2}} </p>
        <p>City: {{employeeDetails.City}} </p>
        <p>Project:{{employeeDetails.project}}</p>  
    </div>